<%- include('./partials/header.ejs')%>
        <h3>Welcome to Knight's Gaming.</h3> 
        <p>Welcome to Knight's Gaming! Our page is dedicated to providing our valued customers with information about both casual and competitive events happening at our store.<br> 
            Whether you're a seasoned gamer or just looking to have some fun, you'll find a wide range of events to participate in. Don't see an event that suits your interests?<br> 
            You can also create your own event and share it with the gaming community. Join us in the world of gaming excitement!</p>
    </div>
    <%- include('./partials/footer.ejs')%>